<form id="formId" method="post" action="{Action}" name="{HTMLFormName}" role="form">
<legend>{Title}</legend>
<!-- BEGIN Error -->
<div class="f-row">
	<label>{Error}</label>
</div>
<!-- END Error -->
<fieldset>
<!-- BEGIN ControlContent -->
<div class="form-group">
	{ControlTitle}
	<div class="f-inputs">{ControlTemplate}</div>
</div>
<!-- END ControlContent -->
</fieldset>
<!-- BEGIN Footer -->
<div class="form-group">
		{Buttons}
</div>
<!-- END Footer -->
</form>
