<div class="form-horizontal">
    <form id="formId" method="post" action="{Action}" name="{HTMLFormName}" role="form">
        <fieldset>
            <legend>{Title}</legend>
            <!-- BEGIN Error -->
            <div class="row">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="alert alert-danger" role="alert">
                        {Error}
                    </div>
                </div>
            </div>
            <!-- END Error -->
            <!-- BEGIN ControlContent -->
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    {ControlTitle}
                </div>
                <div class="col-sm-10">
                    {ControlTemplate}
                </div>
            </div>
            <!-- END ControlContent -->
        </fieldset>
        <!-- BEGIN Footer -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {Buttons}
            </div>
        </div>
        <!-- END Footer -->
    </form>
</div>