
<!-- BEGIN Panel Head -->
<meta name="GENERATOR" content="CodeCharge Studio 5.1.1.18990">
<script language="JavaScript" type="text/javascript">
//Begin CCS script
//Include Common JSFunctions @1-65835CB2
</script>
<script src="ClientI18N.aspx?file=globalize.js&amp;locale={res:CCS_LocaleID}" type="text/javascript" charset="windows-1252"></script>
<script type="text/javascript">
//End Include Common JSFunctions

//Include User Scripts @1-A87AC9EE
</script>
{page:scriptIncludes}
<script type="text/javascript">
//End Include User Scripts

//End CCS script
</script>
<title>builder_performance_test_page</title>
<meta content="text/html; charset=windows-1252" http-equiv="Content-Type">
<!-- END Panel Head -->
<!-- BEGIN Panel Content -->
<!-- BEGIN Record customersSearch -->
<div role="form" class="form-horizontal">
  <form id="ContentcustomersSearch" name="{HTMLFormName}" action="{Action}">
    <legend>Search </legend>
    <!-- BEGIN Error -->
    <div class="row">
      <div class="col-sm-offset-2 col-sm-10">
        <div role="alert" class="alert alert-danger">
          {Error} 
        </div>
      </div>
    </div>
    <!-- END Error --><fieldset>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Customer Name</label> 
      </div>
      <div class="col-sm-4">
        <input type="text" id="ContentcustomersSearchs_customer_name" maxlength="50" size="50" value="{s_customer_name}" name="{s_customer_name_Name}">
      </div>
      <div class="col-sm-2 control-label">
        <label>Customer Phone</label> 
      </div>
      <div class="col-sm-4">
        <input type="text" id="ContentcustomersSearchs_customer_phone" maxlength="50" size="50" value="{s_customer_phone}" name="{s_customer_phone_Name}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Customer Address</label> 
      </div>
      <div class="col-sm-4">
        <input type="text" id="ContentcustomersSearchs_customer_address" maxlength="50" size="50" value="{s_customer_address}" name="{s_customer_address_Name}">
      </div>
      <div class="col-sm-2 control-label">
        <label>Customer City</label> 
      </div>
      <div class="col-sm-4">
        <input type="text" id="ContentcustomersSearchs_customer_city" maxlength="50" size="50" value="{s_customer_city}" name="{s_customer_city_Name}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Customer State</label> 
      </div>
      <div class="col-sm-4">
        <input type="text" id="ContentcustomersSearchs_customer_state" maxlength="50" size="50" value="{s_customer_state}" name="{s_customer_state_Name}">
      </div>
      <div class="col-sm-2 control-label">
        <label>Customer Zip</label> 
      </div>
      <div class="col-sm-4">
        <input type="text" id="ContentcustomersSearchs_customer_zip" maxlength="50" size="50" value="{s_customer_zip}" name="{s_customer_zip_Name}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label for="ContentcustomersSearchcustomersPageSize">Records per page</label> 
      </div>
      <div class="col-sm-4">
        <select id="ContentcustomersSearchcustomersPageSize" name="{customersPageSize_Name}">
          {customersPageSize_Options}
        </select>
 
      </div>
    </div>
    </fieldset> 
    <div class="form-group">
      <div class="col-sm-2 text-right">
<a href="{ClearParameters_Src}" id="ContentcustomersSearchClearParameters">Clear</a> 
      </div>
      <div class="col-sm-4">
        <!-- BEGIN Button Button_DoSearch --><input type="submit" id="ContentcustomersSearchButton_DoSearch" class="Button" alt="Search" value="Search" name="{Button_Name}"><!-- END Button Button_DoSearch -->
      </div>
    </div>
  </form>
</div>
<!-- END Record customersSearch --><br>
<!-- BEGIN Grid customers -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <strong>List of Customers </strong>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <tr>
          <th scope="col">
          <!-- BEGIN Sorter Sorter_customer_name --><span class="Sorter"><a href="{Sort_URL}" id="ContentcustomersSorter_customer_name">Customer Name</a> 
          <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
          <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_customer_name --></th>
 
          <th scope="col">
          <!-- BEGIN Sorter Sorter_customer_phone --><span class="Sorter"><a href="{Sort_URL}" id="ContentcustomersSorter_customer_phone">Customer Phone</a> 
          <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
          <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_customer_phone --></th>
 
          <th scope="col">
          <!-- BEGIN Sorter Sorter_customer_address --><span class="Sorter"><a href="{Sort_URL}" id="ContentcustomersSorter_customer_address">Customer Address</a> 
          <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
          <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_customer_address --></th>
 
          <th scope="col">
          <!-- BEGIN Sorter Sorter_customer_city --><span class="Sorter"><a href="{Sort_URL}" id="ContentcustomersSorter_customer_city">Customer City</a> 
          <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
          <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_customer_city --></th>
 
          <th scope="col">
          <!-- BEGIN Sorter Sorter_customer_state --><span class="Sorter"><a href="{Sort_URL}" id="ContentcustomersSorter_customer_state">Customer State</a> 
          <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
          <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_customer_state --></th>
 
          <th scope="col">
          <!-- BEGIN Sorter Sorter_customer_zip --><span class="Sorter"><a href="{Sort_URL}" id="ContentcustomersSorter_customer_zip">Customer Zip</a> 
          <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
          <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_customer_zip --></th>
        </tr>
 
        <!-- BEGIN Row -->
        <tr>
          <td><a href="{customer_name_Src}" id="Contentcustomerscustomer_name_{customers:rowNumber}">{customer_name}</a></td> 
          <td>{customer_phone}</td> 
          <td>{customer_address}</td> 
          <td>{customer_city}</td> 
          <td>{customer_state}</td> 
          <td>{customer_zip}</td>
        </tr>
 <!-- END Row -->
        <!-- BEGIN NoRecords -->
        <tr class="bg-warning">
          <td colspan="6">No records</td>
        </tr>
        <!-- END NoRecords -->
        <tr class="Footer">
          <td colspan="6">
            <!-- BEGIN Navigator Navigator --><span class="Navigator">
            <!-- BEGIN First_On --><a href="{First_URL}">First</a> <!-- END First_On -->
            <!-- BEGIN First_Off -->First <!-- END First_Off -->
            <!-- BEGIN Prev_On --><a href="{Prev_URL}">Prev</a> <!-- END Prev_On -->
            <!-- BEGIN Prev_Off -->Prev <!-- END Prev_Off -->&nbsp; 
            <!-- BEGIN Pages -->
            <!-- BEGIN Page_On --><a href="{Page_URL}">{Page_Number}</a>&nbsp;<!-- END Page_On -->
            <!-- BEGIN Page_Off -->{Page_Number}&nbsp;<!-- END Page_Off --><!-- END Pages -->of &nbsp;{Total_Pages}&nbsp; 
            <!-- BEGIN Next_On --><a href="{Next_URL}">Next</a> <!-- END Next_On -->
            <!-- BEGIN Next_Off -->Next <!-- END Next_Off -->
            <!-- BEGIN Last_On --><a href="{Last_URL}">Last</a> <!-- END Last_On -->
            <!-- BEGIN Last_Off -->Last <!-- END Last_Off --></span><!-- END Navigator Navigator --></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- END Grid customers --><!-- END Panel Content -->
<!-- BEGIN Panel Menu -->{MenuIncludablePage}<!-- END Panel Menu -->
<!-- BEGIN Panel Footer -->&nbsp;<!-- END Panel Footer -->