<!-- BEGIN Panel Head -->
<script language="JavaScript" type="text/javascript">

</script>
<title>customers</title>
<meta content="text/html; charset=windows-1252" http-equiv="Content-Type">
<script language="JavaScript" type="text/javascript">
//Begin CCS script
//Include Common JSFunctions @1-65835CB2
</script>
<script src="ClientI18N.aspx?file=globalize.js&locale={res:CCS_LocaleID}" type="text/javascript" charset="windows-1252"></script>
<script type="text/javascript">
//End Include Common JSFunctions

//Include User Scripts @1-F9B79976
</script>
<link rel="stylesheet" type="text/css" href="{CCS_PathToMasterPage}jquery-ui.css">
{page:scriptIncludes}
<script type="text/javascript">
//End Include User Scripts

//Features CSS @1-27E8264D
</script>
<style type="text/css">
    .ContentcustomersSearchs_customer_name-autocomplete {
        max-height: 250px;
        width: 250px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .ContentcustomersSearchs_customer_address-autocomplete {
        max-height: 250px;
        width: 250px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .ContentcustomersSearchs_customer_city-autocomplete {
        max-height: 250px;
        width: 250px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .ContentcustomersSearchs_customer_state-autocomplete {
        max-height: 250px;
        width: 250px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .ContentcustomersSearchs_customer_zip-autocomplete {
        max-height: 250px;
        width: 250px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .ContentcustomersSearchs_customer_phone-autocomplete {
        max-height: 250px;
        width: 250px;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>
<script type="text/javascript">
//End Features CSS

//Common Script Start @1-8BFA436B
jQuery(function ($) {
    var features = { };
    var actions = { };
    var params = { };
//End Common Script Start

//Controls Selecting @1-8565DCFC
    $('body').ccsBind(function() {
        features["ContentcustomersSearchs_customer_nameAutocomplete1"] = $('*:ccsControl(Content, customersSearch, s_customer_name)');
        features["ContentcustomersSearchs_customer_addressAutocomplete3"] = $('*:ccsControl(Content, customersSearch, s_customer_address)');
        features["ContentcustomersSearchs_customer_cityAutocomplete4"] = $('*:ccsControl(Content, customersSearch, s_customer_city)');
        features["ContentcustomersSearchs_customer_stateAutocomplete5"] = $('*:ccsControl(Content, customersSearch, s_customer_state)');
        features["ContentcustomersSearchs_customer_zipAutocomplete6"] = $('*:ccsControl(Content, customersSearch, s_customer_zip)');
        features["ContentcustomersSearchs_customer_phoneJAutocomplete1"] = $('*:ccsControl(Content, customersSearch, s_customer_phone)');
    });
//End Controls Selecting

//Feature Parameters @1-3E0CB930
    params["ContentcustomersSearchs_customer_nameAutocomplete1"] = { 
        template: '{@text}',
        customCssClassName: "ContentcustomersSearchs_customer_name-autocomplete",
        source: "services/customers_list_s_customer_name_Autocomplete1.aspx"
    };
    params["ContentcustomersSearchs_customer_addressAutocomplete3"] = { 
        template: '{@text}',
        customCssClassName: "ContentcustomersSearchs_customer_address-autocomplete",
        source: "services/customers_list_s_customer_address_Autocomplete1.aspx"
    };
    params["ContentcustomersSearchs_customer_cityAutocomplete4"] = { 
        template: '{@text}',
        customCssClassName: "ContentcustomersSearchs_customer_city-autocomplete",
        source: "services/customers_list_s_customer_city_Autocomplete1.aspx"
    };
    params["ContentcustomersSearchs_customer_stateAutocomplete5"] = { 
        template: '{@text}',
        customCssClassName: "ContentcustomersSearchs_customer_state-autocomplete",
        source: "services/customers_list_s_customer_state_Autocomplete1.aspx"
    };
    params["ContentcustomersSearchs_customer_zipAutocomplete6"] = { 
        template: '{@text}',
        customCssClassName: "ContentcustomersSearchs_customer_zip-autocomplete",
        source: "services/customers_list_s_customer_zip_Autocomplete1.aspx"
    };
    params["ContentcustomersSearchs_customer_phoneJAutocomplete1"] = { 
        template: '{@text}',
        customCssClassName: "ContentcustomersSearchs_customer_phone-autocomplete",
        source: "services/customers_list_s_customer_phone_Autocomplete1.aspx"
    };
//End Feature Parameters

//Feature Init @1-3D26E0BB
    features["ContentcustomersSearchs_customer_nameAutocomplete1"].ccsBind(function() {
        this.ccsAutoComplete(params["ContentcustomersSearchs_customer_nameAutocomplete1"]);
    });
    features["ContentcustomersSearchs_customer_addressAutocomplete3"].ccsBind(function() {
        this.ccsAutoComplete(params["ContentcustomersSearchs_customer_addressAutocomplete3"]);
    });
    features["ContentcustomersSearchs_customer_cityAutocomplete4"].ccsBind(function() {
        this.ccsAutoComplete(params["ContentcustomersSearchs_customer_cityAutocomplete4"]);
    });
    features["ContentcustomersSearchs_customer_stateAutocomplete5"].ccsBind(function() {
        this.ccsAutoComplete(params["ContentcustomersSearchs_customer_stateAutocomplete5"]);
    });
    features["ContentcustomersSearchs_customer_zipAutocomplete6"].ccsBind(function() {
        this.ccsAutoComplete(params["ContentcustomersSearchs_customer_zipAutocomplete6"]);
    });
    features["ContentcustomersSearchs_customer_phoneJAutocomplete1"].ccsBind(function() {
        this.ccsAutoComplete(params["ContentcustomersSearchs_customer_phoneJAutocomplete1"]);
    });
//End Feature Init

//Common Script End @1-562554DE
});
//End Common Script End

//End CCS script
</script>
<!-- END Panel Head -->
<!-- BEGIN Panel Content -->
<!-- BEGIN Record customersSearch -->
<div role="form" class="form-horizontal">
    <form id="ContentcustomersSearch" name="{HTMLFormName}" action="{Action}">
        <fieldset>
            <legend>Search </legend>
            <!-- BEGIN Error -->
            <div class="row">
                <div class="col-sm-offset-2 col-sm-10">
                    <div role="alert" class="alert alert-danger">
                        {Error}
                    </div>
                </div>
            </div>
            <!-- END Error -->
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label>Customer Name</label>
                </div>
                <div class="col-sm-4">
                    <!-- BEGIN TextBox s_customer_name --><input type="text" id="ContentcustomersSearchs_customer_name" maxlength="50" size="50" value="{s_customer_name}" name="{s_customer_name_Name}"><!-- END TextBox s_customer_name -->
                </div>
                <div class="col-sm-2 control-label">
                    <label>Customer Phone</label>
                </div>
                <div class="col-sm-4">
                    <!-- BEGIN TextBox s_customer_phone --><input type="text" id="ContentcustomersSearchs_customer_phone" maxlength="50" size="50" value="{s_customer_phone}" name="{s_customer_phone_Name}"><!-- END TextBox s_customer_phone -->
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label>Customer Address</label>
                </div>
                <div class="col-sm-4">
                    <!-- BEGIN TextBox s_customer_address --><input type="text" id="ContentcustomersSearchs_customer_address" maxlength="50" size="50" value="{s_customer_address}" name="{s_customer_address_Name}"><!-- END TextBox s_customer_address -->
                </div>
                <div class="col-sm-2 control-label">
                    <label>Customer City</label>
                </div>
                <div class="col-sm-4">
                    <!-- BEGIN TextBox s_customer_city --><input type="text" id="ContentcustomersSearchs_customer_city" maxlength="50" size="50" value="{s_customer_city}" name="{s_customer_city_Name}"><!-- END TextBox s_customer_city -->
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label>Customer State</label>
                </div>
                <div class="col-sm-4">
                    <!-- BEGIN TextBox s_customer_state --><input type="text" id="ContentcustomersSearchs_customer_state" maxlength="50" size="50" value="{s_customer_state}" name="{s_customer_state_Name}"><!-- END TextBox s_customer_state -->
                </div>
                <div class="col-sm-2 control-label">
                    <label>Customer Zip</label>
                </div>
                <div class="col-sm-4">
                    <!-- BEGIN TextBox s_customer_zip --><input type="text" id="ContentcustomersSearchs_customer_zip" maxlength="50" size="50" value="{s_customer_zip}" name="{s_customer_zip_Name}"><!-- END TextBox s_customer_zip -->
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label for="ContentcustomersSearchcustomersPageSize">Records per page</label>
                </div>
                <div class="col-sm-4">
                    <select id="ContentcustomersSearchcustomersPageSize" name="{customersPageSize_Name}">
                        {customersPageSize_Options}
                    </select>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <!-- BEGIN Button Button_DoSearch --><input type="submit" id="ContentcustomersSearchButton_DoSearch" class="Button" alt="Search" value="Search" name="{Button_Name}"><!-- END Button Button_DoSearch -->
                <a href="{ClearParameters_Src}" id="ContentcustomersSearchClearParameters" class="btn btn-default">Clear</a>
            </div>
        </div>
    </form>
</div>
<!-- END Record customersSearch -->
<!-- BEGIN Grid customers -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <a href="{Link1_Src}" id="ContentcustomersLink1_{customers:rowNumber}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>&nbsp;<strong>List of Customers</strong>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th scope="col">
                        <!-- BEGIN Sorter Sorter_customer_id --><span class="Sorter">
                            <a href="{Sort_URL}" id="ContentcustomersSorter_customer_id">Customer Id</a>
                            <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
                            <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On -->
                        </span><!-- END Sorter Sorter_customer_id -->
                    </th>

                    <th scope="col">
                        <!-- BEGIN Sorter Sorter_customer_name --><span class="Sorter">
                            <a href="{Sort_URL}" id="ContentcustomersSorter_customer_name">Customer Name</a>
                            <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
                            <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On -->
                        </span><!-- END Sorter Sorter_customer_name -->
                    </th>

                    <th scope="col">
                        <!-- BEGIN Sorter Sorter_customer_phone --><span class="Sorter">
                            <a href="{Sort_URL}" id="ContentcustomersSorter_customer_phone">Customer Phone</a>
                            <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
                            <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On -->
                        </span><!-- END Sorter Sorter_customer_phone -->
                    </th>

                    <th scope="col">
                        <!-- BEGIN Sorter Sorter_customer_address --><span class="Sorter">
                            <a href="{Sort_URL}" id="ContentcustomersSorter_customer_address">Customer Address</a>
                            <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
                            <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On -->
                        </span><!-- END Sorter Sorter_customer_address -->
                    </th>

                    <th scope="col">
                        <!-- BEGIN Sorter Sorter_customer_city --><span class="Sorter">
                            <a href="{Sort_URL}" id="ContentcustomersSorter_customer_city">Customer City</a>
                            <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
                            <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On -->
                        </span><!-- END Sorter Sorter_customer_city -->
                    </th>

                    <th scope="col">
                        <!-- BEGIN Sorter Sorter_customer_state --><span class="Sorter">
                            <a href="{Sort_URL}" id="ContentcustomersSorter_customer_state">Customer State</a>
                            <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
                            <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On -->
                        </span><!-- END Sorter Sorter_customer_state -->
                    </th>

                    <th scope="col">
                        <!-- BEGIN Sorter Sorter_customer_zip --><span class="Sorter">
                            <a href="{Sort_URL}" id="ContentcustomersSorter_customer_zip">Customer Zip</a>
                            <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
                            <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On -->
                        </span><!-- END Sorter Sorter_customer_zip -->
                    </th>
                </tr>

                <!-- BEGIN Row -->
                <tr>
                    <td><a href="{customer_id_Src}" id="Contentcustomerscustomer_id_{customers:rowNumber}">{customer_id}</a></td>
                    <td>{customer_name}</td>
                    <td>{customer_phone}</td>
                    <td>{customer_address}</td>
                    <td>{customer_city}</td>
                    <td>{customer_state}</td>
                    <td>{customer_zip}</td>
                </tr>
                <!-- END Row -->
                <!-- BEGIN NoRecords -->
                <tr class="NoRecords">
                    <td colspan="7">No records</td>
                </tr>
                <!-- END NoRecords -->
                <tr class="Footer">
                    <td colspan="7">
                        <!-- BEGIN Navigator Navigator --><span class="Navigator">
                            <!-- BEGIN First_On --><a href="{First_URL}">First</a> <!-- END First_On -->
                            <!-- BEGIN First_Off -->First <!-- END First_Off -->
                            <!-- BEGIN Prev_On --><a href="{Prev_URL}">Prev</a> <!-- END Prev_On -->
                            <!-- BEGIN Prev_Off -->Prev <!-- END Prev_Off -->&nbsp;
                            <!-- BEGIN Pages -->
                            <!-- BEGIN Page_On --><a href="{Page_URL}">{Page_Number}</a>&nbsp;<!-- END Page_On -->
                            <!-- BEGIN Page_Off -->{Page_Number}&nbsp;<!-- END Page_Off --><!-- END Pages -->of &nbsp;{Total_Pages}&nbsp;
                            <!-- BEGIN Next_On --><a href="{Next_URL}">Next</a> <!-- END Next_On -->
                            <!-- BEGIN Next_Off -->Next <!-- END Next_Off -->
                            <!-- BEGIN Last_On --><a href="{Last_URL}">Last</a> <!-- END Last_On -->
                            <!-- BEGIN Last_Off -->Last <!-- END Last_Off -->
                        </span><!-- END Navigator Navigator -->
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- END Grid customers --><br>
<!-- END Panel Content -->
<!-- BEGIN Panel Menu -->{MenuIncludablePage}<!-- END Panel Menu -->
<!-- BEGIN Panel Footer -->&nbsp;<!-- END Panel Footer -->