
<!-- BEGIN Panel Head -->
<script language="JavaScript" type="text/javascript">
//Begin CCS script
//Include Common JSFunctions @1-65835CB2
</script>
<script type="text/javascript" charset="windows-1252" src='ClientI18N.aspx?file=globalize.js&amp;locale={res:CCS_LocaleID}'></script>
<script type="text/javascript">
//End Include Common JSFunctions

//Include User Scripts @1-A87AC9EE
</script>
{page:scriptIncludes}
<script type="text/javascript">
//End Include User Scripts

//Common Script Start @1-8BFA436B
jQuery(function ($) {
    var features = { };
    var actions = { };
    var params = { };
//End Common Script Start

//ContentcustomersButton_DeleteOnClick Event Start @-538DEE13
    actions["ContentcustomersButton_DeleteOnClick"] = function (eventType, parameters) {
        var result = true;
//End ContentcustomersButton_DeleteOnClick Event Start

//Confirmation Message @24-8243B274
        return confirm('Delete record?');
//End Confirmation Message

//ContentcustomersButton_DeleteOnClick Event End @-A5B9ECB8
        return result;
    };
//End ContentcustomersButton_DeleteOnClick Event End

//Event Binding @1-DB603893
    $('*:ccsControl(Content, customers, Button_Delete)').ccsBind(function() {
        this.bind("click", actions["ContentcustomersButton_DeleteOnClick"]);
    });
//End Event Binding

//Plugin Calls @1-355F6876
    $('*:ccsControl(Content, customers, Button_Delete)').ccsBind(function() {
        this.bind("click", function(){ $("body").data("disableValidation", true); });
    });
    $('*:ccsControl(Content, customers, Button_Cancel)').ccsBind(function() {
        this.bind("click", function(){ $("body").data("disableValidation", true); });
    });
//End Plugin Calls

//Common Script End @1-562554DE
});
//End Common Script End

//End CCS script
</script>
<title>Customers</title>
<meta content="text/html; charset=windows-1252" http-equiv="Content-Type">
<!-- END Panel Head -->
<!-- BEGIN Panel Content --><br>
&nbsp; 
<!-- BEGIN Record customers -->
<div class="form-horizontal">
  <form role="form" id="Contentcustomers" method="post" name="{HTMLFormName}" action="{Action}">
    <legend>Add/Edit Customers </legend>
    <!-- BEGIN Error -->
    <div class="row">
      <div class="col-sm-offset-2 col-sm-10">
        <div role="alert" class="alert alert-danger">
          <span id="ErrorBlock">{Error}</span> 
        </div>
      </div>
    </div>
    <!-- END Error --><fieldset>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Customer Name</label> 
      </div>
      <div class="col-sm-10">
        <input type="text" id="Contentcustomerscustomer_name" maxlength="50" size="50" value="{customer_name}" name="{customer_name_Name}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Customer Phone</label> 
      </div>
      <div class="col-sm-10">
        <input type="text" id="Contentcustomerscustomer_phone" maxlength="50" size="50" value="{customer_phone}" name="{customer_phone_Name}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Customer Address</label> 
      </div>
      <div class="col-sm-10">
        <input type="text" id="Contentcustomerscustomer_address" maxlength="50" size="50" value="{customer_address}" name="{customer_address_Name}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Customer City</label> 
      </div>
      <div class="col-sm-10">
        <input type="text" id="Contentcustomerscustomer_city" maxlength="50" size="50" value="{customer_city}" name="{customer_city_Name}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Customer State</label> 
      </div>
      <div class="col-sm-10">
        <input type="text" id="Contentcustomerscustomer_state" maxlength="50" size="50" value="{customer_state}" name="{customer_state_Name}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Customer Zip</label> 
      </div>
      <div class="col-sm-10">
        <input type="text" id="Contentcustomerscustomer_zip" maxlength="50" size="50" value="{customer_zip}" name="{customer_zip_Name}">
      </div>
    </div>
    </fieldset> 
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <!-- BEGIN Button Button_Insert --><input type="submit" id="ContentcustomersButton_Insert" class="Button" alt="Add" value="Add" name="{Button_Name}"><!-- END Button Button_Insert -->
        <!-- BEGIN Button Button_Update --><input type="submit" id="ContentcustomersButton_Update" class="Button" alt="Submit" value="Submit" name="{Button_Name}"><!-- END Button Button_Update -->
        <!-- BEGIN Button Button_Delete --><input type="submit" id="ContentcustomersButton_Delete" class="Button" alt="Delete" value="Delete" name="{Button_Name}"><!-- END Button Button_Delete -->
        <!-- BEGIN Button Button_Cancel --><input type="submit" id="ContentcustomersButton_Cancel" class="Button" alt="Cancel" value="Cancel" name="{Button_Name}"><!-- END Button Button_Cancel -->
      </div>
    </div>
  </form>
</div>
<!-- END Record customers --><br>
<!-- END Panel Content -->
<!-- BEGIN Panel Menu -->{MenuIncludablePage}<!-- END Panel Menu -->
<!-- BEGIN Panel Footer -->&nbsp;<!-- END Panel Footer -->