
<!-- BEGIN Panel Head -->
<script language="JavaScript" type="text/javascript">
//Begin CCS script
//Include Common JSFunctions @1-65835CB2
</script>
<script type="text/javascript" charset="windows-1252" src='ClientI18N.aspx?file=globalize.js&amp;locale={res:CCS_LocaleID}'></script>
<script type="text/javascript">
//End Include Common JSFunctions

//Include User Scripts @1-A87AC9EE
</script>
{page:scriptIncludes}
<script type="text/javascript">
//End Include User Scripts

//End CCS script
</script>
<title>employees</title>
<meta content="text/html; charset=windows-1252" http-equiv="Content-Type">
<!-- END Panel Head -->
<!-- BEGIN Panel Content -->
<!-- BEGIN Record employeesSearch -->
<div role="form" class="form-horizontal">
  <form id="ContentemployeesSearch" name="{HTMLFormName}" action="{Action}">
    <legend>Search </legend>
    <!-- BEGIN Error -->
    <div class="row">
      <div class="col-sm-offset-2 col-sm-10">
        <div role="alert" class="alert alert-danger">
          {Error} 
        </div>
      </div>
    </div>
    <!-- END Error --><fieldset>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Emp Login</label> 
      </div>
      <div class="col-sm-4">
        <input type="text" id="ContentemployeesSearchs_emp_login" maxlength="20" value="{s_emp_login}" name="{s_emp_login_Name}" size="20">
      </div>
      <div class="col-sm-2 control-label">
        <label>Emp Password</label> 
      </div>
      <div class="col-sm-4">
        <input type="text" id="ContentemployeesSearchs_emp_password" maxlength="20" value="{s_emp_password}" name="{s_emp_password_Name}" size="20">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Emp Name</label> 
      </div>
      <div class="col-sm-4">
        <input type="text" id="ContentemployeesSearchs_emp_name" maxlength="50" size="50" value="{s_emp_name}" name="{s_emp_name_Name}">
      </div>
      <div class="col-sm-2 control-label">
        <label>Title</label> 
      </div>
      <div class="col-sm-4">
        <input type="text" id="ContentemployeesSearchs_title" maxlength="50" size="50" value="{s_title}" name="{s_title_Name}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Email</label> 
      </div>
      <div class="col-sm-4">
        <input type="text" id="ContentemployeesSearchs_email" maxlength="50" size="50" value="{s_email}" name="{s_email_Name}">
      </div>
      <div class="col-sm-2 control-label">
        <label>Picture</label> 
      </div>
      <div class="col-sm-4">
        <input type="text" id="ContentemployeesSearchs_picture" maxlength="50" size="50" value="{s_picture}" name="{s_picture_Name}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Phone Home</label> 
      </div>
      <div class="col-sm-4">
        <input type="text" id="ContentemployeesSearchs_phone_home" maxlength="50" size="50" value="{s_phone_home}" name="{s_phone_home_Name}">
      </div>
      <div class="col-sm-2 control-label">
        <label>Phone Work</label> 
      </div>
      <div class="col-sm-4">
        <input type="text" id="ContentemployeesSearchs_phone_work" maxlength="50" size="50" value="{s_phone_work}" name="{s_phone_work_Name}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Phone Cell</label> 
      </div>
      <div class="col-sm-4">
        <input type="text" id="ContentemployeesSearchs_phone_cell" maxlength="50" size="50" value="{s_phone_cell}" name="{s_phone_cell_Name}">
      </div>
      <div class="col-sm-2 control-label">
        <label>Fax</label> 
      </div>
      <div class="col-sm-4">
        <input type="text" id="ContentemployeesSearchs_fax" maxlength="50" size="50" value="{s_fax}" name="{s_fax_Name}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>City</label> 
      </div>
      <div class="col-sm-4">
        <input type="text" id="ContentemployeesSearchs_city" maxlength="50" size="50" value="{s_city}" name="{s_city_Name}">
      </div>
      <div class="col-sm-2 control-label">
        <label>Zip</label> 
      </div>
      <div class="col-sm-4">
        <input type="text" id="ContentemployeesSearchs_zip" maxlength="20" value="{s_zip}" name="{s_zip_Name}" size="20">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Address</label> 
      </div>
      <div class="col-sm-4">
        <input type="text" id="ContentemployeesSearchs_address" maxlength="50" size="50" value="{s_address}" name="{s_address_Name}">
      </div>
      <div class="col-sm-2 control-label">
        <label for="ContentemployeesSearchemployeesPageSize">Records per page</label> 
      </div>
      <div class="col-sm-4">
        <select id="ContentemployeesSearchemployeesPageSize" name="{employeesPageSize_Name}">
          {employeesPageSize_Options}
        </select>
      </div>
    </div>
    </fieldset> 
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <!-- BEGIN Button Button_DoSearch --><input type="submit" id="ContentemployeesSearchButton_DoSearch" class="Button" alt="Search" value="Search" name="{Button_Name}"><!-- END Button Button_DoSearch -->
        <a href="{ClearParameters_Src}" id="ContentemployeesSearchClearParameters" class="btn btn-default">Clear</a>
      </div>
    </div>
  </form>
</div>
<!-- END Record employeesSearch --><br>
<!-- BEGIN Grid employees -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <strong>List of Employees </strong>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <tr>
          <th scope="col">
          <!-- BEGIN Sorter Sorter_emp_login --><span class="Sorter"><a href="{Sort_URL}" id="ContentemployeesSorter_emp_login">Emp Login</a> 
          <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
          <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_emp_login --></th>
 
          <th scope="col">
          <!-- BEGIN Sorter Sorter_emp_password --><span class="Sorter"><a href="{Sort_URL}" id="ContentemployeesSorter_emp_password">Emp Password</a> 
          <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
          <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_emp_password --></th>
 
          <th scope="col">
          <!-- BEGIN Sorter Sorter_emp_name --><span class="Sorter"><a href="{Sort_URL}" id="ContentemployeesSorter_emp_name">Emp Name</a> 
          <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
          <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_emp_name --></th>
 
          <th scope="col">
          <!-- BEGIN Sorter Sorter_title --><span class="Sorter"><a href="{Sort_URL}" id="ContentemployeesSorter_title">Title</a> 
          <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
          <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_title --></th>
 
          <th scope="col">
          <!-- BEGIN Sorter Sorter_email --><span class="Sorter"><a href="{Sort_URL}" id="ContentemployeesSorter_email">Email</a> 
          <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
          <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_email --></th>
 
          <th scope="col">
          <!-- BEGIN Sorter Sorter_picture --><span class="Sorter"><a href="{Sort_URL}" id="ContentemployeesSorter_picture">Picture</a> 
          <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
          <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_picture --></th>
 
          <th scope="col">
          <!-- BEGIN Sorter Sorter_phone_home --><span class="Sorter"><a href="{Sort_URL}" id="ContentemployeesSorter_phone_home">Phone Home</a> 
          <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
          <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_phone_home --></th>
 
          <th scope="col">
          <!-- BEGIN Sorter Sorter_phone_work --><span class="Sorter"><a href="{Sort_URL}" id="ContentemployeesSorter_phone_work">Phone Work</a> 
          <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
          <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_phone_work --></th>
 
          <th scope="col">
          <!-- BEGIN Sorter Sorter_phone_cell --><span class="Sorter"><a href="{Sort_URL}" id="ContentemployeesSorter_phone_cell">Phone Cell</a> 
          <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
          <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_phone_cell --></th>
 
          <th scope="col">
          <!-- BEGIN Sorter Sorter_fax --><span class="Sorter"><a href="{Sort_URL}" id="ContentemployeesSorter_fax">Fax</a> 
          <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
          <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_fax --></th>
 
          <th scope="col">
          <!-- BEGIN Sorter Sorter_city --><span class="Sorter"><a href="{Sort_URL}" id="ContentemployeesSorter_city">City</a> 
          <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
          <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_city --></th>
 
          <th scope="col">
          <!-- BEGIN Sorter Sorter_zip --><span class="Sorter"><a href="{Sort_URL}" id="ContentemployeesSorter_zip">Zip</a> 
          <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
          <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_zip --></th>
 
          <th scope="col">
          <!-- BEGIN Sorter Sorter_address --><span class="Sorter"><a href="{Sort_URL}" id="ContentemployeesSorter_address">Address</a> 
          <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
          <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_address --></th>
        </tr>
 
        <!-- BEGIN Row -->
        <tr>
          <td><a href="{emp_login_Src}" id="Contentemployeesemp_login_{employees:rowNumber}">{emp_login}</a></td> 
          <td>{emp_password}</td> 
          <td>{emp_name}</td> 
          <td>{title}</td> 
          <td>{email}</td> 
          <td>{picture}</td> 
          <td>{phone_home}</td> 
          <td>{phone_work}</td> 
          <td>{phone_cell}</td> 
          <td>{fax}</td> 
          <td>{city}</td> 
          <td>{zip}</td> 
          <td>{address}</td>
        </tr>
 <!-- END Row -->
        <!-- BEGIN NoRecords -->
        <tr class="NoRecords">
          <td colspan="13">No records</td>
        </tr>
        <!-- END NoRecords -->
        <tr class="Footer">
          <td colspan="13">
            <!-- BEGIN Navigator Navigator --><span class="Navigator">
            <!-- BEGIN First_On --><a href="{First_URL}">First</a> <!-- END First_On -->
            <!-- BEGIN First_Off -->First <!-- END First_Off -->
            <!-- BEGIN Prev_On --><a href="{Prev_URL}">Prev</a> <!-- END Prev_On -->
            <!-- BEGIN Prev_Off -->Prev <!-- END Prev_Off -->&nbsp; 
            <!-- BEGIN Pages -->
            <!-- BEGIN Page_On --><a href="{Page_URL}">{Page_Number}</a>&nbsp;<!-- END Page_On -->
            <!-- BEGIN Page_Off -->{Page_Number}&nbsp;<!-- END Page_Off --><!-- END Pages -->of &nbsp;{Total_Pages}&nbsp; 
            <!-- BEGIN Next_On --><a href="{Next_URL}">Next</a> <!-- END Next_On -->
            <!-- BEGIN Next_Off -->Next <!-- END Next_Off -->
            <!-- BEGIN Last_On --><a href="{Last_URL}">Last</a> <!-- END Last_On -->
            <!-- BEGIN Last_Off -->Last <!-- END Last_Off --></span><!-- END Navigator Navigator --></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- END Grid employees --><br>
<!-- END Panel Content -->
<!-- BEGIN Panel Menu -->{MenuIncludablePage}<!-- END Panel Menu -->
<!-- BEGIN Panel Footer -->&nbsp;<!-- END Panel Footer -->