
<!-- BEGIN Panel Head -->
<script language="JavaScript" type="text/javascript">
//Begin CCS script
//Include Common JSFunctions @1-65835CB2
</script>
<script src='ClientI18N.aspx?file=globalize.js&amp;locale={res:CCS_LocaleID}' type="text/javascript" charset="windows-1252"></script>
<script type="text/javascript">
//End Include Common JSFunctions

//Include User Scripts @1-A87AC9EE
</script>
{page:scriptIncludes}
<script type="text/javascript">
//End Include User Scripts

//Common Script Start @1-8BFA436B
jQuery(function ($) {
    var features = { };
    var actions = { };
    var params = { };
//End Common Script Start

//ContentemployeesButton_DeleteOnClick Event Start @-914249C4
    actions["ContentemployeesButton_DeleteOnClick"] = function (eventType, parameters) {
        var result = true;
//End ContentemployeesButton_DeleteOnClick Event Start

//Confirmation Message @34-8243B274
        return confirm('Delete record?');
//End Confirmation Message

//ContentemployeesButton_DeleteOnClick Event End @-A5B9ECB8
        return result;
    };
//End ContentemployeesButton_DeleteOnClick Event End

//Event Binding @1-C66C83DC
    $('*:ccsControl(Content, employees, Button_Delete)').ccsBind(function() {
        this.bind("click", actions["ContentemployeesButton_DeleteOnClick"]);
    });
//End Event Binding

//Plugin Calls @1-DD96640F
    $('*:ccsControl(Content, employees, Button_Delete)').ccsBind(function() {
        this.bind("click", function(){ $("body").data("disableValidation", true); });
    });
    $('*:ccsControl(Content, employees, Button_Cancel)').ccsBind(function() {
        this.bind("click", function(){ $("body").data("disableValidation", true); });
    });
//End Plugin Calls

//Common Script End @1-562554DE
});
//End Common Script End

//End CCS script
</script>
<title>Employees</title>
<meta content="text/html; charset=windows-1252" http-equiv="Content-Type">
<!-- END Panel Head -->
<!-- BEGIN Panel Content --><br>
&nbsp;
<!-- BEGIN Record employees -->
<div class="form-horizontal">
  <form role="form" id="Contentemployees" method="post" name="{HTMLFormName}" action="{Action}">
    <legend>Add/Edit Employees </legend>
 
    <!-- BEGIN Error -->
    <div class="row">
      <div class="col-sm-offset-2 col-sm-10">
        <div role="alert" class="alert alert-danger">
          <span id="ErrorBlock">{Error}</span> 
        </div>
 
      </div>
 
    </div>
 <!-- END Error --><fieldset>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Emp Login</label> 
      </div>
 
      <div class="col-sm-10">
        <input type="text" id="Contentemployeesemp_login" maxlength="20" value="{emp_login}" name="{emp_login_Name}" size="20">
      </div>
 
    </div>
 
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Emp Password</label> 
      </div>
 
      <div class="col-sm-10">
        <input type="text" id="Contentemployeesemp_password" maxlength="20" value="{emp_password}" name="{emp_password_Name}" size="20">
      </div>
 
    </div>
 
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Emp Name</label> 
      </div>
 
      <div class="col-sm-10">
        <input type="text" id="Contentemployeesemp_name" maxlength="50" size="50" value="{emp_name}" name="{emp_name_Name}">
      </div>
 
    </div>
 
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Title</label> 
      </div>
 
      <div class="col-sm-10">
        <input type="text" id="Contentemployeestitle" maxlength="50" size="50" value="{title}" name="{title_Name}">
      </div>
 
    </div>
 
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Group Id</label> 
      </div>
 
      <div class="col-sm-10">
        <select id="Contentemployeesgroup_id" name="{group_id_Name}">
          <option selected value="">Select Value</option>
 {group_id_Options} 
        </select>
 
      </div>
 
    </div>
 
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Department Id</label> 
      </div>
 
      <div class="col-sm-10">
        <select id="Contentemployeesdepartment_id" name="{department_id_Name}">
          <option selected value="">Select Value</option>
 {department_id_Options} 
        </select>
 
      </div>
 
    </div>
 
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Email</label> 
      </div>
 
      <div class="col-sm-10">
        <input type="text" id="Contentemployeesemail" maxlength="50" size="50" value="{email}" name="{email_Name}">
      </div>
 
    </div>
 
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Picture</label> 
      </div>
 
      <div class="col-sm-10">
        <input type="text" id="Contentemployeespicture" maxlength="50" size="50" value="{picture}" name="{picture_Name}">
      </div>
 
    </div>
 
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Phone Home</label> 
      </div>
 
      <div class="col-sm-10">
        <input type="text" id="Contentemployeesphone_home" maxlength="50" size="50" value="{phone_home}" name="{phone_home_Name}">
      </div>
 
    </div>
 
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Phone Work</label> 
      </div>
 
      <div class="col-sm-10">
        <input type="text" id="Contentemployeesphone_work" maxlength="50" size="50" value="{phone_work}" name="{phone_work_Name}">
      </div>
 
    </div>
 
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Phone Cell</label> 
      </div>
 
      <div class="col-sm-10">
        <input type="text" id="Contentemployeesphone_cell" maxlength="50" size="50" value="{phone_cell}" name="{phone_cell_Name}">
      </div>
 
    </div>
 
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Fax</label> 
      </div>
 
      <div class="col-sm-10">
        <input type="text" id="Contentemployeesfax" maxlength="50" size="50" value="{fax}" name="{fax_Name}">
      </div>
 
    </div>
 
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>City</label> 
      </div>
 
      <div class="col-sm-10">
        <input type="text" id="Contentemployeescity" maxlength="50" size="50" value="{city}" name="{city_Name}">
      </div>
 
    </div>
 
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Zip</label> 
      </div>
 
      <div class="col-sm-10">
        <input type="text" id="Contentemployeeszip" maxlength="20" value="{zip}" name="{zip_Name}" size="20">
      </div>
 
    </div>
 
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Address</label> 
      </div>
 
      <div class="col-sm-10">
        <input type="text" id="Contentemployeesaddress" maxlength="50" size="50" value="{address}" name="{address_Name}">
      </div>
 
    </div>
 
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Employee Is Active</label> 
      </div>
 
      <div class="col-sm-10">
        <input type="checkbox" id="Contentemployeesemployee_is_active" value="1" name="{employee_is_active_Name}" {employee_is_active}>
      </div>
 
    </div>
 </fieldset> 
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <!-- BEGIN Button Button_Insert --><input type="submit" id="ContentemployeesButton_Insert" class="Button" alt="Add" value="Add" name="{Button_Name}"><!-- END Button Button_Insert -->
        <!-- BEGIN Button Button_Update --><input type="submit" id="ContentemployeesButton_Update" class="Button" alt="Submit" value="Submit" name="{Button_Name}"><!-- END Button Button_Update -->
        <!-- BEGIN Button Button_Delete --><input type="submit" id="ContentemployeesButton_Delete" class="Button" alt="Delete" value="Delete" name="{Button_Name}"><!-- END Button Button_Delete -->
        <!-- BEGIN Button Button_Cancel --><input type="submit" id="ContentemployeesButton_Cancel" class="Button" alt="Cancel" value="Cancel" name="{Button_Name}"><!-- END Button Button_Cancel -->
      </div>
 
    </div>
 
  </form>
</div>
<!-- END Record employees --><br>
<!-- END Panel Content -->
<!-- BEGIN Panel Menu -->{MenuIncludablePage}<!-- END Panel Menu -->
<!-- BEGIN Panel Footer -->&nbsp;<!-- END Panel Footer -->