
<!-- BEGIN Panel Head -->
<meta name="GENERATOR" content="CodeCharge Studio 5.1.1.18990">
<script language="JavaScript" type="text/javascript">
//Begin CCS script
//Include Common JSFunctions @1-65835CB2
</script>
<script src="ClientI18N.aspx?file=globalize.js&amp;locale={res:CCS_LocaleID}" type="text/javascript" charset="windows-1252"></script>
<script type="text/javascript">
//End Include Common JSFunctions

//Include User Scripts @1-A87AC9EE
</script>
{page:scriptIncludes}
<script type="text/javascript">
//End Include User Scripts

//End CCS script
</script>
<title>employee_rpt</title>
<meta content="text/html; charset=windows-1252" http-equiv="Content-Type">
<!-- END Panel Head -->
<!-- BEGIN Panel Content -->
<!-- BEGIN Record employees_departments -->
<div role="form" class="form-horizontal hidden-print">
  <form id="Contentemployees_departments" name="{HTMLFormName}" action="{Action}">
    <legend>Search </legend>
    <!-- BEGIN Error -->
    <div class="row">
      <div class="col-sm-offset-2 col-sm-10">
        <div role="alert" class="alert alert-danger">
          {Error} 
        </div>
      </div>
    </div>
    <!-- END Error --><fieldset>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Department</label> 
      </div>
      <div class="col-sm-4">
        <select id="Contentemployees_departmentss_employees_department_id" name="{s_employees_department_id_Name}">
          <option selected value="">Select Value</option>
          {s_employees_department_id_Options}
        </select>
 
      </div>
      <div class="col-sm-2 control-label">
        <label>Emp Name</label> 
      </div>
      <div class="col-sm-4">
        <input type="text" id="Contentemployees_departmentss_emp_name" maxlength="50" size="50" value="{s_emp_name}" name="{s_emp_name_Name}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label for="Contentemployees_departmentsdepartments_employeesPageSize">Records per page</label> 
      </div>
      <div class="col-sm-4">
        <select id="Contentemployees_departmentsdepartments_employeesPageSize" name="{departments_employeesPageSize_Name}">
          {departments_employeesPageSize_Options}
        </select>
 
      </div>
    </div>
    </fieldset> 
    <div class="form-group">
      <div class="col-sm-2 text-right">
<a href="{ClearParameters_Src}" id="Contentemployees_departmentsClearParameters">Clear</a> 
      </div>
      <div class="col-sm-10">
        <!-- BEGIN Button Button_DoSearch --><input type="submit" id="Contentemployees_departmentsButton_DoSearch" class="Button" alt="Search" value="Search" name="{Button_Name}"><!-- END Button Button_DoSearch -->
      </div>
    </div>
  </form>
</div>
<!-- END Record employees_departments -->
<!-- BEGIN Report departments_employees -->
<div class="table-responsive small">
  <table class="table table-bordered table-hover table-condensed">
    <!-- BEGIN Section Report_Header --><!-- END Section Report_Header -->
    <!-- BEGIN Section Page_Header -->
    <thead style="DISPLAY: table-header-group">
      <tr class="text-primary">
        <td colspan="7">
          <h3><strong>Employee By Department Report</strong></h3>
        </td>
      </tr>
 
      <tr class="Active">
        <th scope="col">Department</th>
 
        <th scope="col">
        <!-- BEGIN Sorter Sorter_emp_name --><span class="Sorter"><a href="{Sort_URL}">Name</a> 
        <!-- BEGIN Asc_On --><img alt="" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
        <!-- BEGIN Desc_On --><img alt="" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_emp_name --></th>
 
        <th scope="col">
        <!-- BEGIN Sorter Sorter_emp_login --><span class="Sorter"><a href="{Sort_URL}">Login</a> 
        <!-- BEGIN Asc_On --><img alt="" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
        <!-- BEGIN Desc_On --><img alt="" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_emp_login -->&nbsp;</th>
 
        <th scope="col">
        <!-- BEGIN Sorter Sorter_title --><span class="Sorter"><a href="{Sort_URL}">Title</a> 
        <!-- BEGIN Asc_On --><img alt="" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
        <!-- BEGIN Desc_On --><img alt="" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_title -->&nbsp;</th>
 
        <th scope="col">
        <!-- BEGIN Sorter Sorter_email --><span class="Sorter"><a href="{Sort_URL}">Email</a> 
        <!-- BEGIN Asc_On --><img alt="" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
        <!-- BEGIN Desc_On --><img alt="" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_email -->&nbsp;</th>
 
        <th scope="col">
        <!-- BEGIN Sorter Sorter_phone_work --><span class="Sorter"><a href="{Sort_URL}">Work Phone</a> 
        <!-- BEGIN Asc_On --><img alt="" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
        <!-- BEGIN Desc_On --><img alt="" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_phone_work -->&nbsp;</th>
 
        <th scope="col">
        <!-- BEGIN Sorter Sorter_employee_is_active --><span class="Sorter"><a href="{Sort_URL}">Is Active</a> 
        <!-- BEGIN Asc_On --><img alt="" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
        <!-- BEGIN Desc_On --><img alt="" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_employee_is_active -->&nbsp;</th>
      </tr>
 
    </thead>
 <!-- END Section Page_Header -->
    <!-- BEGIN Section Page_Footer -->
    <tfoot style="DISPLAY: table-footer-group">
      <tr class="Footer">
        <td colspan="2">{Report_CurrentDateTime}</td> 
        <td colspan="5">
          <!-- BEGIN Navigator Navigator --><span class="Navigator">
          <!-- BEGIN First_On --><a href="{First_URL}">First</a> <!-- END First_On -->
          <!-- BEGIN First_Off -->First <!-- END First_Off -->
          <!-- BEGIN Prev_On --><a href="{Prev_URL}">Prev</a> <!-- END Prev_On -->
          <!-- BEGIN Prev_Off -->Prev <!-- END Prev_Off -->&nbsp; 
          <!-- BEGIN Pages -->
          <!-- BEGIN Page_On --><a href="{Page_URL}">{Page_Number}</a>&nbsp;<!-- END Page_On -->
          <!-- BEGIN Page_Off -->{Page_Number}&nbsp;<!-- END Page_Off --><!-- END Pages -->of &nbsp;{Total_Pages}&nbsp; 
          <!-- BEGIN Next_On --><a href="{Next_URL}">Next</a> <!-- END Next_On -->
          <!-- BEGIN Next_Off -->Next <!-- END Next_Off -->
          <!-- BEGIN Last_On --><a href="{Last_URL}">Last</a> <!-- END Last_On -->
          <!-- BEGIN Last_Off -->Last <!-- END Last_Off --></span><!-- END Navigator Navigator --></td>
      </tr>
    </tfoot>
 <!-- END Section Page_Footer -->
    <!-- BEGIN Section department_name_Header -->
    <tr class="GroupCaption">
      <th colspan="7" scope="col">{department_name} </th>
    </tr>
 <!-- END Section department_name_Header -->
    <!-- BEGIN Section Detail -->
    <tr class="Row">
      <td>&nbsp; </td> 
      <td>{emp_name} </td> 
      <td>{emp_login} </td> 
      <td>{title} </td> 
      <td>{email} </td> 
      <td>{phone_work} </td> 
      <td>{employee_is_active} </td>
    </tr>
 <!-- END Section Detail -->
    <!-- BEGIN Section department_name_Footer -->
    <tr class="SubTotal info">
      <td>Sub Total &nbsp; </td> 
      <td style="TEXT-ALIGN: right" valign="baseline">Count: {Count_emp_name} </td> 
      <td>{ReportCaption_emp_login} </td> 
      <td>{ReportCaption_title} </td> 
      <td>{ReportCaption_email} </td> 
      <td>{ReportCaption_phone_work} </td> 
      <td>{ReportCaption_employee_is_active} </td>
    </tr>
 <!-- END Section department_name_Footer -->
    <!-- BEGIN Section Report_Footer -->
    <!-- BEGIN Panel NoRecords -->
    <tr class="NoRecords danger">
      <td colspan="7">No records</td>
    </tr>
 <!-- END Panel NoRecords -->
    <tr class="Total info">
      <td valign="baseline">Grand Total </td> 
      <td style="TEXT-ALIGN: right" valign="baseline">Count: {TotalCount_emp_name} </td> 
      <td>{ReportCaption_emp_login} </td> 
      <td>{ReportCaption_title} </td> 
      <td>{ReportCaption_email} </td> 
      <td>{ReportCaption_phone_work} </td> 
      <td>{ReportCaption_employee_is_active} </td>
    </tr>
 <!-- END Section Report_Footer -->
  </table>
</div>
<!-- END Report departments_employees --><!-- END Panel Content -->
<!-- BEGIN Panel Menu -->{MenuIncludablePage}<!-- END Panel Menu -->
<!-- BEGIN Panel Footer -->&nbsp;<!-- END Panel Footer -->