<!--
<script language="JavaScript" type="text/javascript">
//Begin CCS script
//Include Common JSFunctions @1-65835CB2
</script>
<script src="ClientI18N.aspx?file=globalize.js&locale={res:CCS_LocaleID}" type="text/javascript" charset="windows-1252"></script>
<script type="text/javascript">
//End Include Common JSFunctions

//Include User Scripts @1-A87AC9EE
</script>
{page:scriptIncludes}
<script type="text/javascript">
//End Include User Scripts

//End CCS script
</script>
-->
<!-- BEGIN Grid customers -->[ 
<!-- BEGIN Row -->{ "Customer Id" : "{customer_id}" , "Customer Name" : "{customer_name}" , "Customer Phone" : "{customer_phone}" , "Customer Address" : "{customer_address}" , "Customer City" : "{customer_city}" , "Customer State" : "{customer_state}" , "Customer Zip" : "{customer_zip}" } <!-- END Row -->]<!-- END Grid customers -->
