
<!-- BEGIN Panel Head -->
<script language="JavaScript" type="text/javascript">
//Begin CCS script
//Include Common JSFunctions @1-65835CB2
</script>
<script type="text/javascript" charset="windows-1252" src='ClientI18N.aspx?file=globalize.js&amp;locale={res:CCS_LocaleID}'></script>
<script type="text/javascript">
//End Include Common JSFunctions

//Include User Scripts @1-A87AC9EE
</script>
{page:scriptIncludes}
<script type="text/javascript">
//End Include User Scripts

//End CCS script
</script>
<title>groups</title>
<meta content="text/html; charset=windows-1252" http-equiv="Content-Type">
<!-- END Panel Head -->
<!-- BEGIN Panel Content -->
<!-- BEGIN Record groupsSearch -->
<div role="form" class="form-horizontal">
  <form id="ContentgroupsSearch" name="{HTMLFormName}" action="{Action}">
    <legend>Search</legend>
    
    <!-- BEGIN Error -->
    <div class="row">
      <div class="col-sm-offset-2 col-sm-10">
        <div role="alert" class="alert alert-danger">
          {Error} 
        </div>
      </div>
    </div>
    <!-- END Error --><fieldset>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Group Name</label> 
      </div>
      <div class="col-sm-4">
        <input type="text" id="ContentgroupsSearchs_group_name" maxlength="50" size="50" value="{s_group_name}" name="{s_group_name_Name}">
      </div>
      <div class="col-sm-2 control-label">
        <label for="ContentgroupsSearchgroupsPageSize">Records per page</label> 
      </div>
      <div class="col-sm-4">
        <select id="ContentgroupsSearchgroupsPageSize" name="{groupsPageSize_Name}">
          {groupsPageSize_Options}
        </select>
 
      </div>
    </div>
    </fieldset> 
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <!-- BEGIN Button Button_DoSearch --><input type="submit" id="ContentgroupsSearchButton_DoSearch" class="Button" alt="Search" value="Search" name="{Button_Name}"><!-- END Button Button_DoSearch -->
        <a href="{ClearParameters_Src}" id="ContentgroupsSearchClearParameters" class="btn btn-default">Clear</a>
      </div>
    </div>
  </form>
</div>
<!-- END Record groupsSearch --><br>
<!-- BEGIN Grid groups -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        List of Groups 
      </div>
      <div class="panel-body">
        <div class="row">
          <!-- BEGIN Row -->
          <div class="col-md-4 col-sm-6">
            <div class="well">
              Group ID: <a href="{Link1_Src}" id="ContentgroupsLink1_{groups:rowNumber}">{Link1}</a><br>
              Group Name:&nbsp;{group_name}<br>
            </div>
          </div>
          <!-- END Row -->
        </div>
        <!-- BEGIN NoRecords -->
        <div class="row">
          <div class="col-sm-12">
            No records 
          </div>
        </div>
        <!-- END NoRecords -->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <!-- BEGIN Navigator Navigator --><span class="Navigator">
    <!-- BEGIN First_On --><a href="{First_URL}">First</a> <!-- END First_On -->
    <!-- BEGIN First_Off -->First <!-- END First_Off -->
    <!-- BEGIN Prev_On --><a href="{Prev_URL}">Prev</a> <!-- END Prev_On -->
    <!-- BEGIN Prev_Off -->Prev <!-- END Prev_Off -->&nbsp; 
    <!-- BEGIN Pages -->
    <!-- BEGIN Page_On --><a href="{Page_URL}">{Page_Number}</a>&nbsp;<!-- END Page_On -->
    <!-- BEGIN Page_Off -->{Page_Number}&nbsp;<!-- END Page_Off --><!-- END Pages -->of &nbsp;{Total_Pages}&nbsp; 
    <!-- BEGIN Next_On --><a href="{Next_URL}">Next</a> <!-- END Next_On -->
    <!-- BEGIN Next_Off -->Next <!-- END Next_Off -->
    <!-- BEGIN Last_On --><a href="{Last_URL}">Last</a> <!-- END Last_On -->
    <!-- BEGIN Last_Off -->Last <!-- END Last_Off --></span><!-- END Navigator Navigator -->
  </div>
</div>
<!-- END Grid groups --><br>
<!-- END Panel Content -->
<!-- BEGIN Panel Menu -->{MenuIncludablePage}<!-- END Panel Menu -->
<!-- BEGIN Panel Footer -->&nbsp;<!-- END Panel Footer -->