
<!-- BEGIN Panel Head -->
<script language="JavaScript" type="text/javascript">
//Begin CCS script
//Include Common JSFunctions @1-65835CB2
</script>
<script src='ClientI18N.aspx?file=globalize.js&amp;locale={res:CCS_LocaleID}' type="text/javascript" charset="windows-1252"></script>
<script type="text/javascript">
//End Include Common JSFunctions

//Include User Scripts @1-A87AC9EE
</script>
{page:scriptIncludes}
<script type="text/javascript">
//End Include User Scripts

//Common Script Start @1-8BFA436B
jQuery(function ($) {
    var features = { };
    var actions = { };
    var params = { };
//End Common Script Start

//ContentgroupsButton_DeleteOnClick Event Start @-B29D19D4
    actions["ContentgroupsButton_DeleteOnClick"] = function (eventType, parameters) {
        var result = true;
//End ContentgroupsButton_DeleteOnClick Event Start

//Confirmation Message @18-8243B274
        return confirm('Delete record?');
//End Confirmation Message

//ContentgroupsButton_DeleteOnClick Event End @-A5B9ECB8
        return result;
    };
//End ContentgroupsButton_DeleteOnClick Event End

//Event Binding @1-9F6DD51E
    $('*:ccsControl(Content, groups, Button_Delete)').ccsBind(function() {
        this.bind("click", actions["ContentgroupsButton_DeleteOnClick"]);
    });
//End Event Binding

//Plugin Calls @1-D936FA43
    $('*:ccsControl(Content, groups, Button_Delete)').ccsBind(function() {
        this.bind("click", function(){ $("body").data("disableValidation", true); });
    });
    $('*:ccsControl(Content, groups, Button_Cancel)').ccsBind(function() {
        this.bind("click", function(){ $("body").data("disableValidation", true); });
    });
//End Plugin Calls

//Common Script End @1-562554DE
});
//End Common Script End

//End CCS script
</script>
<title>Groups</title>
<meta content="text/html; charset=windows-1252" http-equiv="Content-Type">
<!-- END Panel Head -->
<!-- BEGIN Panel Content -->
<!-- BEGIN Record groups -->
<div class="form-horizontal">
  <form role="form" id="Contentgroups" method="post" name="{HTMLFormName}" action="{Action}">
    <legend>Add/Edit Groups </legend>
 
    <!-- BEGIN Error -->
    <div class="row">
      <div class="col-sm-offset-2 col-sm-10">
        <div role="alert" class="alert alert-danger">
          <span id="ErrorBlock">{Error}</span> 
        </div>
 
      </div>
 
    </div>
 <!-- END Error --><fieldset>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Group Name</label> 
      </div>
 
      <div class="col-sm-10">
        <input type="text" id="Contentgroupsgroup_name" maxlength="50" size="50" value="{group_name}" name="{group_name_Name}">
      </div>
 
    </div>
 </fieldset> 
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <!-- BEGIN Button Button_Insert --><input type="submit" id="ContentgroupsButton_Insert" class="Button" alt="Add" value="Add" name="{Button_Name}"><!-- END Button Button_Insert -->
        <!-- BEGIN Button Button_Update --><input type="submit" id="ContentgroupsButton_Update" class="Button" alt="Submit" value="Submit" name="{Button_Name}"><!-- END Button Button_Update -->
        <!-- BEGIN Button Button_Delete --><input type="submit" id="ContentgroupsButton_Delete" class="Button" alt="Delete" value="Delete" name="{Button_Name}"><!-- END Button Button_Delete -->
        <!-- BEGIN Button Button_Cancel --><input type="submit" id="ContentgroupsButton_Cancel" class="Button" alt="Cancel" value="Cancel" name="{Button_Name}"><!-- END Button Button_Cancel -->
      </div>
 
    </div>
 
  </form>
</div>
<!-- END Record groups --><br>
<!-- END Panel Content -->
<!-- BEGIN Panel Menu -->{MenuIncludablePage}<!-- END Panel Menu -->
<!-- BEGIN Panel Footer -->&nbsp;<!-- END Panel Footer -->