<!--
<script language="JavaScript" type="text/javascript">
//Begin CCS script
//Include Common JSFunctions @1-65835CB2
</script>
<script src="ClientI18N.aspx?file=globalize.js&locale={res:CCS_LocaleID}" type="text/javascript" charset="windows-1252"></script>
<script type="text/javascript">
//End Include Common JSFunctions

//Include User Scripts @1-12EF267B
</script>
<script type="text/javascript">
//End Include User Scripts

//End CCS script
</script>
-->
<!-- BEGIN Panel Panel1 -->
<nav class="navbar navbar-inverse hidden-print" role="navigation">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a href="#" class="navbar-brand">Bootstrap CCS</a> 
  </div>
 
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="{Link1_Src}" id="MenuIncludablePagePanel1Link1">Customers</a></li>
 
      <li><a href="{Link2_Src}" id="MenuIncludablePagePanel1Link2">Employees</a></li>
 
      <li><a href="{Link3_Src}" id="MenuIncludablePagePanel1Link3">Groups</a></li>
 
      <li><a href="{Link4_Src}" id="MenuIncludablePagePanel1Link4">Projects</a></li>
 
      <li><a href="{Link5_Src}" id="MenuIncludablePagePanel1Link5">Employee Report</a></li>
 
      <li><a href="BootstrapDesignProject.zip">Download Project</a></li>
 
    </ul>
 
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Logout</a></li>
 
    </ul>
 
  </div>
  <!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
</nav>
<!-- END Panel Panel1 -->
