
<!-- BEGIN Panel Head -->
<meta name="GENERATOR" content="CodeCharge Studio 5.1.1.18990">
<script language="JavaScript" type="text/javascript">
//Begin CCS script
//Include Common JSFunctions @1-65835CB2
</script>
<script type="text/javascript" charset="windows-1252" src='ClientI18N.aspx?file=globalize.js&amp;locale={res:CCS_LocaleID}'></script>
<script type="text/javascript">
//End Include Common JSFunctions

//Include User Scripts @1-A87AC9EE
</script>
{page:scriptIncludes}
<script type="text/javascript">
//End Include User Scripts

//Common Script Start @1-8BFA436B
jQuery(function ($) {
    var features = { };
    var actions = { };
    var params = { };
//End Common Script Start

//Plugin Calls @1-E5D0DA8A
    $('*:ccsControl(Content, projects, Cancel)').ccsBind(function() {
        this.bind("click", function(){ $("body").data("disableValidation", true); });
    });
//End Plugin Calls

//Common Script End @1-562554DE
});
//End Common Script End

//End CCS script
</script>
<title>project_grid</title>
<meta content="text/html; charset=windows-1252" http-equiv="Content-Type">
<!-- END Panel Head -->
<!-- BEGIN Panel Content -->
<!-- BEGIN Record projects1 -->
<div role="form" class="form-horizontal">
  <form id="Contentprojects1" name="{HTMLFormName}" action="{Action}">
    <legend>Search </legend>
    <!-- BEGIN Error -->
    <div class="row">
      <div class="col-sm-offset-2 col-sm-10">
        <div role="alert" class="alert alert-danger">
          {Error} 
        </div>
      </div>
    </div>
    <!-- END Error --><fieldset>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Project Name</label> 
      </div>
      <div class="col-sm-4">
        <input type="text" id="Contentprojects1s_project_name" maxlength="50" size="50" value="{s_project_name}" name="{s_project_name_Name}">
      </div>
      <div class="col-sm-2 control-label">
        <label for="Contentprojects1PageSize">Records per page</label> 
      </div>
      <div class="col-sm-4">
        <select id="Contentprojects1PageSize" name="{PageSize_Name}">
          {PageSize_Options}
        </select>
 
      </div>
    </div>
    </fieldset> 
    <div class="form-group">
      <div class="col-sm-2 text-right">
<a href="{ClearParameters_Src}" id="Contentprojects1ClearParameters">Clear</a> 
      </div>
      <div class="col-sm-10">
        <!-- BEGIN Button Button_DoSearch --><input type="submit" id="Contentprojects1Button_DoSearch" class="Button" alt="Search" value="Search" name="{Button_Name}"><!-- END Button Button_DoSearch -->
      </div>
    </div>
  </form>
</div>
<!-- END Record projects1 -->
<!-- BEGIN EditableGrid projects -->
<div class="panel panel-primary">
  <form id="Contentprojects" method="post" name="{HTMLFormName}" action="{Action}">
    <input type="hidden" value="{FormState}" name="FormState">{FormScript} 
    <div class="panel-heading">
      <strong>Add/Edit Projects </strong>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover" cellspacing="0" cellpadding="0">
          <!-- BEGIN Error -->
          <tr role="alert" class="alert alert-danger">
            <td colspan="3">{Error} </td>
          </tr>
          <!-- END Error -->
          <tr>
            <th scope="col">
            <!-- BEGIN Sorter Sorter_project_name --><span class="Sorter"><a href="{Sort_URL}" id="ContentprojectsSorter_project_name">Project Name</a> 
            <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
            <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_project_name --></th>
 
            <th scope="col">
            <!-- BEGIN Sorter Sorter_project_is_active --><span class="Sorter"><a href="{Sort_URL}" id="ContentprojectsSorter_project_is_active">Project Is Active</a> 
            <!-- BEGIN Asc_On --><img alt="Ascending" src="{CCS_PathToMasterPage}Images/SorterAscActive.png"><!-- END Asc_On -->
            <!-- BEGIN Desc_On --><img alt="Descending" src="{CCS_PathToMasterPage}Images/SorterDescActive.png"><!-- END Desc_On --></span><!-- END Sorter Sorter_project_is_active --></th>
 
            <th scope="col">Delete</th>
          </tr>
 
          <!-- BEGIN Row -->
          <!-- BEGIN RowError -->
          <tr role="alert" class="alert alert-danger">
            <td colspan="3">{Error} </td>
          </tr>
          <!-- END RowError -->
          <tr>
            <td><input type="text" id="Contentprojectsproject_name_{projects:rowNumber}" maxlength="50" size="50" value="{project_name}" name="{project_name_Name}"></td> 
            <td><input type="checkbox" id="Contentprojectsproject_is_active_{projects:rowNumber}" value="1" name="{project_is_active_Name}" {project_is_active}></td> 
            <td>
              <!-- BEGIN Panel CheckBox_Delete_Panel -->
              <!-- BEGIN CheckBox CheckBox_Delete --><input type="checkbox" id="ContentprojectsCheckBox_Delete_PanelCheckBox_Delete_{projects:rowNumber}" value="1" name="{CheckBox_Delete_Name}" {CheckBox_Delete}><!-- END CheckBox CheckBox_Delete --><!-- END Panel CheckBox_Delete_Panel --></td>
          </tr>
 <!-- END Row -->
          <!-- BEGIN NoRecords -->
          <tr class="NoRecords">
            <td colspan="3">No records</td>
          </tr>
          <!-- END NoRecords -->
          <tr class="Footer">
            <td style="TEXT-ALIGN: right" colspan="3">
              <!-- BEGIN Navigator Navigator --><span class="Navigator">
              <!-- BEGIN First_On --><a href="{First_URL}">First</a> <!-- END First_On -->
              <!-- BEGIN First_Off -->First <!-- END First_Off -->
              <!-- BEGIN Prev_On --><a href="{Prev_URL}">Prev</a> <!-- END Prev_On -->
              <!-- BEGIN Prev_Off -->Prev <!-- END Prev_Off -->&nbsp; 
              <!-- BEGIN Pages -->
              <!-- BEGIN Page_On --><a href="{Page_URL}">{Page_Number}</a>&nbsp;<!-- END Page_On -->
              <!-- BEGIN Page_Off -->{Page_Number}&nbsp;<!-- END Page_Off --><!-- END Pages -->of &nbsp;{Total_Pages}&nbsp; 
              <!-- BEGIN Next_On --><a href="{Next_URL}">Next</a> <!-- END Next_On -->
              <!-- BEGIN Next_Off -->Next <!-- END Next_Off -->
              <!-- BEGIN Last_On --><a href="{Last_URL}">Last</a> <!-- END Last_On -->
              <!-- BEGIN Last_Off -->Last <!-- END Last_Off --></span><!-- END Navigator Navigator -->
              <!-- BEGIN Button Button_Submit --><input type="submit" id="ContentprojectsButton_Submit" alt="Submit" value="Submit" name="{Button_Name}"><!-- END Button Button_Submit -->
              <!-- BEGIN Button Cancel --><input type="submit" id="ContentprojectsCancel" alt="Cancel" value="Cancel" name="{Button_Name}"><!-- END Button Cancel --></td>
          </tr>
        </table>
      </div>
    </div>
  </form>
</div>
<!-- END EditableGrid projects --><br>
<!-- END Panel Content -->
<!-- BEGIN Panel Menu -->{MenuIncludablePage}<!-- END Panel Menu -->
<!-- BEGIN Panel Footer -->&nbsp;<!-- END Panel Footer -->