<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>{Title}</strong>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <td colspan="{countControls}">{TotalRecords}</td>
                </tr>

                <tr>
                    <!-- BEGIN ControlTitle -->
                    <th scope="col">{Sorter}</th>
                    <!-- END ControlTitle -->
                </tr>
                <!-- BEGIN Separator -->
                <tr class="Separator">
                    <td>&nbsp;</td>
                </tr>
                <!-- END Separator -->
                <!-- BEGIN Row -->
                <tr>
                    <!-- BEGIN ControlContent -->
                    <td>{ControlTemplate}</td><!-- END ControlContent -->
                </tr>
                <!-- END Row -->
                <!-- BEGIN NoRecords -->
                <tr class="NoRecords">
                    <td colspan="{countControls}">{NoRecords}</td>
                </tr>
                <!-- END NoRecords -->
                <!-- BEGIN Footer -->
                <tr class="Footer">
                    <td colspan="{countControls}">{Navigator}</td>
                </tr>
                <!-- END Footer -->
            </table>
        </div>
    </div>
</div>