<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				{Title}
			</div>
			<div class="panel-body">
				<div class="row">
					<!-- BEGIN Row -->
						<div class="col-sm-4">
							<div class="well">
					 	   		<!-- BEGIN ControlTitle -->{Sorter}:&nbsp;<!-- END ControlTitle -->
					 	   		<!-- BEGIN ControlContent -->{ControlTemplate}<br><!-- END ControlContent -->
					 	    </div>
						</div>
				 	<!-- END Row -->					
				</div>
				<!-- BEGIN NoRecords -->
				<div class="row">
					<div class="col-sm-12">
    		        	{NoRecords}
    		        </div>
        		</div>
				<!-- END NoRecords -->
			</div>
		</div>
	</div>
</div>
<!-- BEGIN Footer -->
<div class="row">
	<div class="col-sm-12">
          {Navigator}
	</div>
</div>
<!-- END Footer -->