<div class="panel panel-primary">
  <form id="formId" name="{HTMLFormName}" action="{Action}" method="post">
    <input type="hidden" name="FormState" value="{FormState}">{FormScript} 
    <div class="panel-heading">
      <strong>{Title}</strong>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table cellspacing="0" cellpadding="0" class="table table-hover">
          <!-- BEGIN Error -->
          <tr class="alert alert-danger" role="alert">
            <td colspan="{countControls}">
              {Error}
            </td> 
          </tr>
 <!-- END Error -->
          <tr>
            <!-- BEGIN ControlTitle -->
            <th scope="col">{Sorter}</th>
 <!-- END ControlTitle -->
          </tr>
 
          <!-- BEGIN Row -->
          <!-- BEGIN RowError -->
          <tr class="alert alert-danger" role="alert">
            <td colspan="{countControls}">
              {Error}
            </td> 
          </tr>
 <!-- END RowError -->
          <tr>
            <!-- BEGIN ControlContent -->
            <td>{ControlTemplate}</td><!-- END ControlContent -->
          </tr>
 <!-- END Row -->
<!-- BEGIN Separator --><!-- END Separator -->
          <!-- BEGIN NoRecords -->
          <tr class="NoRecords">
            <td colspan="{countControls}">{NoRecords}</td> 
          </tr>
 <!-- END NoRecords -->
          <tr class="Footer">
            <!-- BEGIN Footer -->
            <td style="text-align:right;" colspan="{countControls}">{Navigator} 
              {Buttons}</td><!-- END Footer -->
          </tr> 
        </table>
      </div>
    </div>
  </form>
</div>
